<div class="home">
  <div class="breadcrumbs_container">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="breadcrumbs">
            <ul>
              <li><a routerLink="/">Home</a></li>
              <li>About Us</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="about">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="section_title_container text-center">

        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 about_col about_col_left"><span><img src="assets/images/banner/aboutus.png" alt="about us"></span></div>
      <!-- About Item -->
      <div class="col-lg-12 about_col about_col_left">
        <div class="about_item">
          <div class="about_item_text">
            <p>MS TECHNOLOGYS India having team of professional PHP developers has good expertise in PHP and is always
              ready to cater for your needs at any level of Customized Web Application services as well as maintenance
              work in PHP. At MS TECHNOLOGYS India, you can get services on Codeigniter, Yii, CakePHP, Wordpress,
              Joomla, Opencart, Angular, Nodejs, MongoDB etc. And can deliver you a web application in any open source
              as per
              your custom needs.
              Making website user friendly, efficient and affordable is always been our core aim before delivering the
              project to the clients. A highly popular programming language for building dynamic, database-driven
              websites.

              In delivering high quality professional IT services to our customers for 2 years, we've gained unmatched
              experience and technological know-how. Such unique experience makes a strong basis for future
              developments and guarantees stability. Ensuring a high level of satisfaction among our customers and
              partners is a core motive at MS TECHNOLOGYS India</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="section_title_container text-center">

        </div>
      </div>
    </div>
  </div>
