<div class="home">
  <div class="breadcrumbs_container">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="breadcrumbs">
            <ul>
              <li><a routerLink="/">Home</a></li>
              <li>Contact</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="contact">
  <!-- Contact Info -->

  <div class="contact_info_container">
    <div class="container">
      <div class="row">

        <!-- Contact Form -->
        <div class="col-lg-6">
          <div class="contact_form">
            <div class="contact_info_title">Let’s Get in Touch</div>
            <div *ngIf="emailSend" class="alert alert-success">
              Email send successfull
            </div>
            <form (ngSubmit)="contact()" [formGroup]="contactForm" class="comment_form">
              <div class="form-group" [ngClass]="{'alert alert-danger': (contactForm.get('name').touched || contactForm.get('name').dirty) && !contactForm.get('name').valid }">
                <div class="form_title">Name</div>
                <input type="text" class="form-control" formControlName="name" placeholder="Name">
                <span class="help-block" *ngIf="(contactForm.get('name').touched || contactForm.get('name').dirty) && contactForm.get('name').errors">
                  <span *ngIf="contactForm.get('name').errors?.required">Name is required.</span>
                </span>
              </div>
              <div class="form-group" [ngClass]="{'alert alert-danger': (contactForm.get('email').touched || contactForm.get('email').dirty) && !contactForm.get('email').valid }">
                <div class="form_title">Email</div>
                <input class="form-control" type="text" placeholder="Email" formControlName="email">
                <span class="help-block" *ngIf="(contactForm.get('email').touched || contactForm.get('email').dirty) && contactForm.get('email').errors">
                  <span *ngIf="contactForm.get('email').errors?.required">Email is required.</span>
                  <span *ngIf="contactForm.get('email').errors.pattern">Email is invalid.</span>
                </span>
              </div>
              <div class="form-group" [ngClass]="{'alert alert-danger': (contactForm.get('message').touched || contactForm.get('message').dirty) && !contactForm.get('message').valid }">
                <div class="form_title">Message</div>
                <textarea class="form-control" formControlName="message" placeholder="Message"></textarea>
                <span class="help-block" *ngIf="(contactForm.get('message').touched || contactForm.get('message').dirty) && contactForm.get('message').errors">
                  <span *ngIf="contactForm.get('message').errors?.required">Message is required.</span>
                </span>
              </div>
              <div>
                <button type="submit" class="btn btn-primary btn-block comment_button trans_100" [disabled]="!contactForm.valid">submit</button>
              </div>
            </form>
          </div>
        </div>

        <!-- Contact Info -->
        <div class="col-lg-6">
          <div class="contact_info">
            <div class="contact_info_location">
              <div class="contact_info_location_title">Office Address</div>
              <ul class="location_list">
                <li>E-301, GIDC, Gandhinagar, Gujarat-382016</li>
                <li><i class="fa fa-phone" aria-hidden="true"></i> <a href="skype:yashvant.yadav?call" class="contactlink">+91-9642796505</a></li>
                <li><i class="fa fa-envelope-o" aria-hidden="true"></i> <a href="mailto:info@mstechnologys.com" class="contactlink">info@mstechnologys.com</a></li>
              </ul>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
