<!-- Footer -->
<footer class="footer">
  <div class="footer_background" style="background-image:url(assets/images/footer_background.png)"></div>
  <div class="container">
    <div class="row footer_row">
      <div class="col">
        <div class="footer_content">
          <div class="row">
            <div class="col-lg-4 footer_col">
              <!-- Footer About -->
              <div class="footer_section footer_about">
                <div class="footer_logo_container">
                  <a href="/">
                    <div class="footer_logo_text">MS <span>TECHNOLOGYS</span></div>
                  </a>
                </div>
                <div class="footer_about_text">
                  <p>is the most powerful effective incredible powerful Data Services and Software Development
                    Organization.</p>
                </div>
                <div class="footer_social">
                  <ul>
                    <li><a href="https://www.facebook.com/mstechnologys" target="_blank"><i class="fa fa-facebook"
                          aria-hidden="true"></i></a></li>
                    <li><a href="https://twitter.com/mstechnologys" target="_blank"><i class="fa fa-twitter"
                          aria-hidden="true"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-lg-4 footer_col">
              <!-- Footer Contact -->
              <div class="footer_section footer_contact">
                <div class="footer_title">About Us</div>
                <div class="footer_about_text">
                  <p>MS Technologys India having team of professional PHP developers has good expertise in PHP and is
                    always ready to cater for your needs at any level of Customized Web Application services as well as
                    maintenance work in PHP...</p>
                </div>
              </div>
            </div>
            <div class="col-lg-4 footer_col">
              <!-- Footer Contact -->
              <div class="footer_section footer_contact">
                <div class="footer_title">Contact Us</div>
                <div class="footer_contact_info">
                  <ul>
                    <li>Email: <a href="mailto:info@mstechnologys.com" class="emaillink">info@mstechnologys.com</a></li>
                    <li>Phone: <a href="skype:yashvant.yadav?call" class="emaillink">+(91) 9642796505</a></li>
                    <li>E-301, GIDC, Gandhinagar, Gujarat-382016</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row copyright_row">
      <div class="col">
        <div class="copyright d-flex flex-lg-row flex-column align-items-center justify-content-start">
          <div class="cr_text">
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            Copyright &copy;

            {{this.currentYear.getFullYear()}}

            All rights reserved
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          </div>
          <div class="ml-lg-auto cr_links">
            <ul class="cr_list">
              <!--<li><a href="#">Terms of Use</a></li>
              <li><a href="#">Privacy Policy</a></li>-->
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
