<div class="home">
  <div class="breadcrumbs_container">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="breadcrumbs">
            <ul>
              <li><a routerLink="/">Home</a></li>
              <li>Services</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="course">
  <div class="container">
    <div class="row">

      <!-- Course -->
      <div class="col-lg-12">
        <div class="course_container">
          <div class="tab_panel_title">Our Services</div>
          <!-- Course Tabs -->
          <div class="tab_panels">
            <!-- Description -->
            <div class="tab_panel_content">
              <div class="tab_panel_text">
                <p>MS Technologys is a design and user–focused digital agency.
                  We specialise in solving problems to produce intelligent designs, deliver engaging experiences and
                  build meaningful connections.We work with great clients all over the world to create thoughtful and
                  purposeful products.</p>
              </div>
              <div class="future-service">
                <div class="row">
                  <div class="col-md-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                    <div class="feature-wrap"> <img class="img-responsive" src="assets/images/websites.gif" alt="Web Development Company India">
                      <div class="team_subtitle">
                        <h4 class="team_title">Web Development</h4>
                        <p>We deliver a range of web development solutions. These includes CMS like Wordpress, Joomla,
                          Drupal, etc. Framework like CodeIgniter (CI), Laravel, Symfony, Zend Framework (ZF) etc.,
                          Customization and core coding.</p>
                        <div class="service-more">
                          <!--<h4><a>Read More</a></h4>-->
                        </div>
                      </div>
                    </div>
                  </div>
                  <!--/.col-md-4-->

                  <div class="col-md-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                    <div class="feature-wrap"> <img class="img-responsive" src="assets/images/design.gif" alt="Web Design Company India">
                      <div class="team_subtitle">
                        <h4>Web Designing</h4>
                        <p>We get creative and You get noticed. One-Page or sales page, static or dynamic, mobile app
                          or responsive, every design, any design all you get with quality and uniqueness. PSD to any
                          HTML or CMS, Responsive, building beautiful websites.</p>
                        <div class="service-more">
                          <!--<h4><a>Read More</a></h4>-->
                        </div>
                      </div>
                    </div>
                  </div>
                  <!--/.col-md-4-->

                  <div class="col-md-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                    <div class="feature-wrap"> <img class="img-responsive" src="assets/images/mobile.gif" alt="Mobile App Company India">
                      <div class="team_subtitle">
                        <h4>Mobile App</h4>
                        <p>We are expert in both Android and iOS Application development. We also provide native as
                          well as hybrid. We specialize in cross platform mobile application development. We'll develop
                          the app to your specifications.</p>
                        <div class="service-more">
                          <!--<h4><a>Read More</a></h4>-->
                        </div>
                      </div>
                    </div>
                  </div>
                  <!--/.col-md-4-->
                </div>
                <!-- row end -->


                <div class="col-md-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                  <div class="feature-wrap"> <img class="img-responsive" src="assets/images/support.gif" alt="Support India">
                    <div class="team_subtitle">
                      <h4>Support</h4>
                      <p>Our support team fulfill your needs like quick fix of your website, design, apps, or need
                        someone to teach or suggest you to manage things around your any applications, maintains your
                        applications, export-import, backup of data etc. with prompt response.</p>
                      <div class="service-more">
                        <!--<h4><a>Read More</a></h4>-->
                      </div>
                    </div>
                  </div>
                </div>
                <!--/.col-md-4-->
              </div>
              <!--/.row-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
