<main class="app-content">
  <div class="app-title">
    <div>
      <h1><i class="fa fa-th-list"></i> TOdo List</h1>
    </div>
  </div>
  <div class="col-md-12">
    <div id="ajaxResults" class="clearcontent"></div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-6">
          <div class="btn-group">
            <button class="btn btn-primary" data-toggle="modal" data-target="#content-add"> Add New
              <i class="fa fa-plus"></i>
            </button>
          </div>
        </div>
      </div>

      <div class="tile">
        <div class="tile-body">
          <table id="contents-list" datatable [dtOptions]="dtOptions" class="row-border hover">
            <thead>
              <tr>
                <th>Title</th>
                <th>Action</th>
              </tr>
            </thead>
          </table>
        </div>
      </div>
    </div>
  </div>
</main>

<!-- Modal Start-->
<div class="modal fade" id="content-add" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add/Edit Todos</h5>
        <button type="button" class="close" data-dismiss="modal">×</button>
      </div>
      <div class="modal-body">
        <form class="user-form" (ngSubmit)="saveDetails()" [formGroup]="contentsForm">
          <input type="hidden" formControlName="content_id" [(ngModel)]="this.contentId">
          <div class="form-group"
            [ngClass]="{'alert alert-danger': (contentsForm.get('title').touched || contentsForm.get('title').dirty) && !contentsForm.get('title').valid }">
            <label class="control-label">Title</label>
            <input class="form-control" type="text" placeholder="Title" formControlName="title"
              [(ngModel)]="this.title">
            <span class="help-block"
              *ngIf="(contentsForm.get('title').touched || contentsForm.get('title').dirty) && contentsForm.get('title').errors">
              <span *ngIf="contentsForm.get('title').errors?.required">Title is required.</span>
            </span>
          </div>
          <div class="form-group"
            [ngClass]="{'alert alert-danger': (contentsForm.get('description').touched || contentsForm.get('description').dirty) && !contentsForm.get('description').valid }">
            <label class="control-label">Description</label>
            <textarea class="form-group" [froalaEditor] id="froala-editor" formControlName="description"
              [(ngModel)]="this.description"></textarea>
            <span class="help-block"
              *ngIf="(contentsForm.get('description').touched || contentsForm.get('description').dirty) && contentsForm.get('description').errors">
              <span *ngIf="contentsForm.get('description').errors?.required">Description is required.</span>
            </span>
          </div>


          <div class="form-group btn-container">
            <button class="btn btn-primary" [disabled]="!contentsForm.valid"><i
                class="fa fa-sign-in fa-lg fa-fw"></i>Submit</button>
            <button class="btn btn-secondary closeForm" data-dismiss="modal" type="button">Cancel</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
